html {
	height: 100%;
	width: 100%
}

#addForm {
	margin-top: 10%;
	margin-left: 25% !important;
}

.jumbotron {
	padding: 2rem 1rem !important;
}

#articles {
	font-size: 1.5rem !important;
}